#login {
	width: 550px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -190px 0 0 -290px;
	border: 1px solid #CCCCCC;
	padding: 20px;
}

.header {
	width: 100%;
}

.header-current-user {
	text-align: right;
}

.nav-condensed {
	margin-bottom: 7px !important;
}

.nav-sub {
	margin-left: 12px;
	margin-bottom: 30px;
}

.nav-sub li {
	display: inline;
	list-style-type: none;
	padding-right: 12px;
}

.nav-sub a,.nav-sub a:hover,.nav-sub a:focus {
	color: #555555;
}

.nav-sub>.active>a,.nav-sub>.active>a:hover,.nav-sub>.active>a:focus {
	color: #555555;
	font-weight: bold;
}

.panel-header {
	border: 1px solid #CCCCCC;
	padding: 5px;
}

.panel-header-closable {
  border: 1px solid #CCCCCC;
  padding: 5px;
  cursor: pointer;
}

.panel-body {
	border: 1px solid #CCCCCC;
	border-top: 0px;
	padding: 5px;
}

.action-column {
	width: 20px !important;
}

.form-condensed {
	margin: 0px;
}

.no-top-border {
	border-top: 0px !important;
}

.form-action {
	margin-top: 20px;
}

.label-error {
	margin-left: 4px;
	margin-top: 5px;
	background-color: #E9322D !important;
}